[user]
	email = roberto.jimeno@gmail.com
	name = Roberto Jimeno
	username = rjimeno
[push]
	default = matching
[core]
	excludesfile = /Users/U6033350/.gitignore_global
#	autocrlf = input
# The line above seem "incompatible" with the EMEA team.
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "https://"]
	insteadOf = git://
